@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

body {
    background-color: #f9dee2;
    margin: 40px;
    cursor: cell;
}

.restricted {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* style navbar. */
.navbar {
    /* navbar width. */
    width: 180px;
    position: fixed;

    /* text padding. */
    padding-top: 10px;
    padding-bottom: 10px;

    /* navbar position. */
    top: 10px;
    left: 10px;
    bottom: 10px;
    background-color: #ffffed;
}

/* style navbar links. */
.navbar a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 17px;
    color: #a61266;

    /* on separate lines. */
    display: block;
}

/* text changes on hover. */
.navbar a:hover {
    color: #f9dee2;
    font-size: 16px;
}

.entry{
    margin: 0 auto;
    margin-left: 140px;
    margin-top: 50px;
    text-align: center;

    /* separate lines. */
    display: block;
}

textarea {
    width: 50%;
    height: 350px;
    margin-top: 15px;
    box-sizing: border-box;
    border: 1px dashed #a61266;
    background-color: #ffffef;
    padding: 10px 5px 10px 10px;
}

#timestamp {
    padding: 0px;
    margin: 0px;

    font-family: 'Bebas Neue', sans-serif;
    font-size: 20px;
    color: #1277a6;
}

#sentiment {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 20px;
    color: #1277a6;
}

.action-buttons {
    display: flex;
    margin-left: 482px;
    gap: 15px;
    margin-top: 10px;
}

.action-buttons button {
    padding: 8px;
    cursor: pointer;

    color: #a61266;
    font-family: "Times New Roman", Times, serif;
    font-family: 'Bebas Neue', sans-serif;

    font-size: 15px;
    padding-left: 12px;
    padding-right: 12px;

    background: #ffffec;

    border: outset #ffffec;
    border-width: 3px;

    transition: color 0.25s, background-color 0.25s, transform 0.25s;
}

#delete {
    display: block;
    margin-left: -15px;
}

#save-update {
    display: none;
    margin-left: 40px;
}

#error {
    margin-top: 20px;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 17px;
    color: #1277a6;
}
