<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chill Pill</title>
    <link rel="stylesheet" href="static/css/entries.css">
    <link rel="stylesheet" href="/static/css/pill_animation2.css">
</head>
<body oncontextmenu="return false" class="restricted">
    <script type="text/javascript" src="/static/js/index.js"></script>

    <center>
        <div id="pill">
            <div class="pill" id="pill-left"></div>
            <span id="pill-text">CHILL PILL</span>
            <div class="pill" id="pill-right"></div>
        </div>
    </center>

    <!-- navigation bar. -->
    <div class="navbar">
        <a href="http://127.0.0.1:5000">☞&nbsp;&nbsp;New Entry</a>
        <a href="entries">☞&nbsp;&nbsp;All Entries</a>
        <a href="moodtracker">☞&nbsp;&nbsp;Mood Tracker</a>
        <a href="team">☞&nbsp;&nbsp;The Team</a>
    </div>
    
    <h2>ENTRIES</h2>
    <!-- running timestamp. -->
    <p id="timestamp"></p>
    <br><br>

    <div class="entries">
        {% for item in entries_data %}
            <!-- link for each entry. -->
            <a href="http://127.0.0.1:5000/entries/{{ item._id['$oid'] }}" class="entry">
                <p>timestamp: {{ item.timestamp }}</p>
                <p>sentiment: {{ item.sentiment }}</p>
                <p>entry: {{ item.body }}</p>
            </a>
        {% endfor %}
    </div>

</body>
</html>
