<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chill Pill</title>
    <link rel="stylesheet" href="/static/css/team.css">
    <link rel="stylesheet" href="/static/css/pill_animation.css">
</head>
<body oncontextmenu="return false" class="restricted">

    <center>
        <div id="pill">
            <div class="pill" id="pill-left"></div>
            <span id="pill-text">CHILL PILL</span>
            <div class="pill" id="pill-right"></div>
        </div>
    </center>

    <!-- navigation bar. -->
    <div class="navbar">
        <!-- href links to pages. -->
        <a href="http://127.0.0.1:5000">☞&nbsp;&nbsp;New Entry</a>
        <a href="entries">☞&nbsp;&nbsp;All Entries</a>
        <a href="moodtracker">☞&nbsp;&nbsp;Mood Tracker</a>
        <a href="team">☞&nbsp;&nbsp;The Team</a>
    </div>

    <p><strong>Welcome to our CFGDegree (Software) final project!<br>Here's a little bit about us...</p></strong>

    <div class="page">

        <div class="team" id="Alex">
            <div class="Alex-card"> 
                <div class="alex-img-holder">
                    <img src="/static/images/alex.JPG" alt="Alex's Image" />
                </div>
                <div class="Alex-body">
                    <h3 class="your-title">🌷Aleksandra Wojciechowska🌷</h3>
                    <span class="your-description">I'm Alex 🙋🏼‍♀️ In my spare time I love to cook and I practise yoga 🧘🏼‍♀️</span>
                    <a href="https://open.spotify.com/track/5FMXrphygZ4z3gVDHGWxgl?si=5b89211763a845cd">My fav song at the moment!🎵</a>
                </div>
            </div>
        </div>

        <div class="team" id="Anu">
            
            <div class="anu-card"> 
                <div class="img-holder">
                    <img src="/static/images/anu_image.jpg" alt="Anu's Image" />
                </div>
                <div class="anu-body">
                    <h3 class="anu-title">Anu Bazarragchaa</h3>
                    <span class="anu-description">Hi there!✨ My name is Anu.👩‍💻 Outside of CFG, I love to hike🗻, ski⛷️ and take photos with my Canon Rebel XS📸. </span>                    
                </div>
            </div>
        </div>
        

        <div class="team" id="Chidimma">
            <h2>Chidimma Umeh</h2>
            <div id="content">
                <p>
                    👋 Hello, I'm Chidimma!
                    <br>
                    <br>
                    <br>
                    I make up half of the backend team and half of the frontend team with contributions to our database setup and functionalities.
                    <br>
                    <br>
                    <br>
                    Outside of an interest in tech, I'm a bookworm 📚, a very lazy weight lifter 🏋️ and an anime watcher 📺.
                </p>
            </div>
        </div>

        <div id="gina team" class="gina-c">
           <img id="gina-img" src="/static/images/gina.jpg">
           <h2 id="g-name">Gina</h2>
            <p id="gina-description">
                👋 Hi, I'm Gina and interested in nomadic full stack. I was a part of the Front-End team in this website. 🌱 Currently learning software and web development. 💞️ I'm looking to collaborate on interactive websites.<br><br>
                📫 How to reach me: <a href="https://github.com/ginarubik/">GitHub</a>
            </p>
        </div>

        <div class="team" id="Lizzie">
            <h3 class="lizzieTitle">Lizzie Dinh</h3>
            <img class="lizzieImg" src="/static/images/lizzie.JPG" alt="Lizzie's Image">
            <p class='lizzieText'>Making up one half of the backend team, Lizzie is an aspiring coder and professional baker producing some of the best croissants in Glasgow!
                Outside of CFG, Lizzie enjoys playing music, painting and spending time in the Scottish highlands hiking between the mountains!
            </p>
        </div>

        <div class="team" id="Saima">
            <div class="saima_card">
              <img src="/static/images/saima_image.jpg" alt="saima's image" width="150" height="250"/>
                <h2>Saima</h2>
                <p class="saima_bio">I'm highly interested in Cyber Security and hopefully
                 I can be a part of it in the future! Along side my Tech journey, I love video gaming 🎮, drawing 🎨 and 
                 (hopefully more in the future) travelling 🗺️ <br>
                 <a href="https://github.com/sai-ma">GitHub</a>
             </div>
        </div>
    </div>
</body>
</html>
